<% @page_title = "公演マイページ" %>
<h1><%= @page_title %></h1>

<% if @admin.present? %>
  <table class="list">
    <thead>
    <tr>
      <th>名前</th>
      <th>ID</th>
      <th>パスワード</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: right">
        <%= @admin.admin_name %></td>
      <td><%= @admin.admin_ID %></td>
      <td><%= @admin.password %></td>
    </tr>
    </tbody>
    </tbody>
  </table>
<% end %>

<%= menu_link_to "申請一覧", admin_false_stages_adminaccounts_path %>
<%= menu_link_to "公演一覧", admin_true_stages_adminaccounts_path %>
<%= link_to "退会手続き", @admin, method: :delete, data: { confirm: "本当に退会しますか？" } %>
<%= menu_link_to "ユーザー情報編集", [:edit, @admin] %>