<%#= render "shared/errors", obj: @member %>

<table class="attr">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :login_name %></th>
    <td><%= form.text_field :login_name, size: 8 %></td>
  </tr>
  <% if @actor.new_record? %>
    <tr>
      <th><%= form.label :password %></th>
      <td><%= form.text_field :password %></td>
    </tr>
  <% end %>
</table>
