<% @page_title = "申請待ち一覧" %>
<h1><%= @page_title %></h1>


<% if @stages.present? %>
  <%= render "shared/table_list", stages: @stages %>
<% end %>
<%= paginate @stages %>

<% if @after.present? %>
  <h1>過去</h1>
  <%= render "shared/table_list", stages: @after %>
<% end %>
<%= paginate @after %>
<%=link_to "<<マイページに戻る",current_admin %>