<% @page_title = "管理者マイページ" %>
<h1><%= @page_title %></h1>

<% if @admin.present? %>
  <table class="list">
    <thead>
    <tr>
      <th>ID</th>
      <td> <%= @admin.login_name %></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </tbody>
  </table>

  <%= menu_link_to "申請一覧", admin_false_stages_admin_path %>
  <%= menu_link_to "公演一覧", admin_true_stages_admin_path %>
  <%= menu_link_to "ユーザー情報編集", :edit_admin %>
  <%= menu_link_to "パスワードの変更", :edit_password %>
<% end %>