<% @page_title = "ユーザーマイページ" %>
<h1><%= @page_title %></h1>

<% if @user.present? %>
  <table class="list">
    <thead>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>ID</th>
      <td><%= @user.login_name %></td>
    </tr>
    </thead>
    </tbody>
    </table>

<%=menu_link_to "予約一覧", [@user, :reservations]%>
<li><%= link_to "退会手続き", @user, method: :delete, data: { confirm: "本当に削除しますか"} %></li>
<%=menu_link_to "ユーザー情報編集",[:edit, @user] %>
  <%=menu_link_to "パスワードの変更", :edit_password %>
<% end %>