<nav class="menubar">
  <ul class="main-nav">
    <%= menu_link_to "TOP", :root %>
    <% if current_admin || current_user || current_actor %>
      <% if current_admin %>
        <%= menu_link_to "マイページ", current_admin %>
      <% elsif current_actor %>
        <%= menu_link_to "マイページ", current_actor %>
      <% elsif current_user %>
        <%= menu_link_to "マイページ", current_user %>
      <% end %>
    <% else %>
      <%= menu_link_to "ユーザーログイン・新規登録", user_path(1) %>
      <%= menu_link_to "公演者ログイン・新規登録", actor_path(1) %>
      <%= menu_link_to "管理者ログイン", admin_path %>
    <% end %>
    <% if current_actor %>
      <%= menu_link_to "ログアウト", :actorsessions, method: :delete, data: { confirm: '本当に削除して良いですか?',
                                                                         cancel: 'やめる',
                                                                         commit: '削除する' }, title: '削除確認' %>
    <% end %>
    <% if current_user %>
      <%= menu_link_to "ログアウト", :usersessions, method: :delete, data: { confirm: "ログアウトしますか" } %>
    <% end %>
    <% if current_admin %>
      <%= menu_link_to "ログアウト", :adminsessions, method: :delete, data: { confirm: "ログアウトしますか" } %>
    <% end %>

    <% if current_user.nil? && current_admin.nil? %>
      <%= menu_link_to "公演団体用予約", :new_stage %>
    <% end %>
  </ul>
</nav>
