<%#= render "shared/login_form"  unless current_member%>
<% if current_actor %>
  <%= current_actor.actor_name %>
  <%= menu_link_to "ログアウト", :actorsession, method: :delete, data: { confirm: "ログアウトしますか" } %>
<% end %>
<h2>ログインはこちら</h2>
<ul>
  <%= menu_link_to "ユーザー", "#" %>
  <%= menu_link_to "公演者マイページ", actoraccounts_path %>
  <%= menu_link_to "管理者", "#" %>
</ul>


<h2>公演予約</h2>
<ul>
  <%= menu_link_to "公演予約", "#" %>
  <%= menu_link_to "公演団体用予約", :new_stage %>
  <%= menu_link_to "管理者", "#" %>
</ul>


</ul>

