<%#= render "shared/login_form"  unless current_member%>

<% if current_actor %>
  <h1>公演者</h1>
  <%= current_actor.actor_name %>
  <%= menu_link_to "ログアウト", :actorsession, method: :delete, data: { confirm: "ログアウトしますか" } %>
<% end %>
<% if current_user %>
  <h1>ユーザー</h1>
  <%= menu_link_to  current_user.user_name, current_user %>
  <%= menu_link_to "ログアウト", :usersessions, method: :delete, data: { confirm: "ログアウトしますか" } %>
<% end %>
<h2>ログインはこちら</h2>
<ul>
  <%= menu_link_to "ユーザーマイページ", useraccounts_path %>
  <%= menu_link_to "公演者マイページ", actoraccounts_path %>
  <%= menu_link_to "管理者", "#" %>
</ul>


<h2>公演予約</h2>
<ul>
  <%= menu_link_to "公演団体用予約", :new_stage %>
  <%= menu_link_to "管理者", "#" %>
  <%= menu_link_to "新規登録", :new_useraccount %>
</ul>


</ul>

