
<% @path = Rails.application.routes.recognize_path(request.referer) %>

<div class="stage_img">
  <% if (@category = stage.category.name) == "恋愛もの" %>
    <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "オペラ" %>
    <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "お笑い" %>
    <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "アクション" %>
    <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% end %>
  <div class="list-content">
    <%= stage.title %>
    <p><%= @category %><br>
      <%= stage.actor.name %></p>
  </div>
</div>
<table width="800" class="show-table">
  <thead>
  <%# if @path[:action] == "admin_false_stages" || @path[:actor_id] != nil || @path[:action] == "actor_false_stages" || @path[:action] == "actor_true_stages" %>
    <tr>
      <th>ステータス</th>
      <% if stage.status == 1 %>
        <td>申請中</td>
      <% elsif stage.status == 2 %>
        <td>承認</td>
      <% else %>
        <td>拒否</td>
      <% end %>
    </tr>
  <%# end %>
  <tr>
    <th width="200">舞台番号</th>
    <td>
      <%= stage.id %>
    </td>
  </tr>
  <tr>
    <th>舞台タイトル</th>
    <td>
      <%= stage.title %></td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td>
      <%= @category %></td>
  </tr>
  <tr>
    <th>団体名</th>
    <td>
      <%= stage.actor.name %>
    </td>
  </tr>
  <tr>
    <th>日時</th>
    <td><%= stage.date %></td>
  </tr>
  <tr>
    <th>午前・午後</th>
    <td><%= stage.time == 1 ? "午前" : "午後" %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td width="700"><%= stage.text %></td>
  </tr>
  <% if action_name == 'actor_stage_show' %>
    <tr>
      <th>予約人数</th>
      <td><%= @stage.seats.where.not(reservation_id:nil).count %>人</td>
    </tr>
  <% end %>
  </thead>
  <tbody>

</table>
<% if action_name == 'actor_stage_show' %>
  <h3>予約状況</h3>
  <h2 class="seat_index">座席表</h2>
  <div class="check">
    <h5>ステージ</h5>
    <h4>まえ</h4>
    <div class="seat-actor">
        <% @stage.seats.each do |seat| %>
          <% if seat.reservation_id.nil? %>
            <div class="true">
              <%= seat.seat_type %>
            </div>
          <% else %>
            <div class="false">
              <%= seat.seat_type %>
            </div>
          <% end %>
        <% end %>
    </div>

    <h4>うしろ</h4>
  </div>

<% end %>
