<% stages.each do |stage| %>
  <div class="index_list">
    <h3> <%= link_to stage.title, send("#{@link}_path", stage) %></h3>
    <div class="list-content">
      <p><%= stage.actor.name %></p>
      <p> <%= stage.category.name %></p>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>日時</th>
        <th>午前・午後</th>
        <% if action_name == 'actor_false_stages' || action_name == 'actor_true_stages' || action_name == 'admin_false_stages' || action_name == 'admin_true_stages' %>
          <th>ステータス</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= stage.date %></td>
        <td><%= stage.time == 1 ? "午前" : "午後" %></td>
        <% if action_name == 'actor_false_stages' || action_name == 'actor_true_stages' || action_name == 'admin_false_stages' || action_name == 'admin_true_stages' %>
          <% if stage.status == 1 %>
            <td>申請中</td>
          <% elsif stage.status == 2 %>
            <td>承認</td>
          <% else %>
            <td>拒否</td>
          <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>
