<% stages.each do |stage| %>
  <div class="index_list">
    <div class="stage_img">
      <% if (@category = stage.category.name) == "恋愛もの" %>
        <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "オペラ" %>
        <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "お笑い" %>
        <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "アクション" %>
        <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% end %>
      <div class="list-content">
        <%= link_to stage.title, send("#{@link}_path", stage), :style => "font-size:26px;" %>
        <p><%= @category %><br>
          <%= stage.actor.name %></p>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>日時</th>
        <th>午前・午後</th>
        <% if action_name == 'actor_false_stages' || action_name == 'actor_true_stages' || action_name == 'admin_false_stages' || action_name == 'admin_true_stages' %>
          <th>ステータス</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= stage.date %></td>
        <td><%= stage.time == 1 ? "午前" : "午後" %></td>
        <% if action_name == 'actor_false_stages' || action_name == 'actor_true_stages' || action_name == 'admin_false_stages' || action_name == 'admin_true_stages' %>
          <% if stage.status == 1 %>
            <td>申請中</td>
          <% elsif stage.status == 2 %>
            <td>承認</td>
          <% else %>
            <td>拒否</td>
          <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>
