<% @page_title = "予約確認" %>
<h1><%= @page_title %></h1>
<% if @errors.present? %>
  <% if @errors.instance_of?(Array) %>
    <div id="errors">
      <h3>エラーがあります。</h3>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h3><%= @errors %></h3>
  <% end %>
<% end %>
<% if @stage.present? %>
  <table class="list">
    <thead>
    <tr>
      <th>舞台タイトル</th>
      <th>団体名</th>
      <th>日時</th>
      <th>午前・午後</th>
      <th>本文</th>
      <th>残り座席数　S</th>
      <th>残り座席数　A</th>
      <th>残り座席数　B</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: right">
        <%= @stage.title %></td>
      <td>
        <%= @stage.actor.name %>
      </td>
      <td><%= @stage.date %></td>
      <td><%= @stage.time %></td>
      <td><%= @stage.text %></td>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %></td>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %></td>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %></td>
    </tr>
    </tbody>
    </tbody>
  </table>
<% end %>

  <h2 class="seat_index">座席表</h2>
  <div class="reserve-method">
    <h3>予約方法</h3>
    <ul>
      <li>一回に予約できるのは五席までです</li>
      <li>座席表で赤くなっている席はすでに予約済みであり予約できません</li>
      <li>予約したい席を選んでクリックしてください</li>
    </ul>
  </div>


  <div class="check">
    <h5>ステージ</h5>
    <h4>まえ</h4>
    <div class="seat">
    <div class="seat-out">
      <%= form_for [@stage, @reservation] do |form| %>
      <%= collection_check_boxes(:seat, :seat_type, @stage.seats, :seat_type, :seat_type, include_hidden: false, html_options: { class: "seat" }) do |b| %>
        <%= b.check_box disabled: @stage.seats.find_by(seat_type: b.text, stage_id: params[:stage_id]).reservation_id != nil %>
        <%= b.label %>
      <% end %>
    </div>
    </div>
    <h4>うしろ</h4>
  </div>
  <div><%= form.submit %></div>
<% end %>
