<% @page_title = "予約確認" %>
<h1><%= @page_title %></h1>
<% if @errors.present? %>
  <% if @errors.instance_of?(Array) %>
    <div id="errors">
      <h3>エラーがあります。</h3>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h3><%= @errors %></h3>
  <% end %>
<% end %>


<div class="stage_img">
  <% if (@category = @stage.category.name) == "恋愛もの" %>
    <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "オペラ" %>
    <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "お笑い" %>
    <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "戯曲" %>
    <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% end %>
  <div class="list-content">
    <%= @stage.title %>
    <p><%= @category %><br>
      <%= @stage.actor.name %></p>
  </div>
</div>
<% if @stage.present? %>
  <table class="new-table">
    <tr>
    <tr>
      <th>舞台タイトル</th>
      <td>
        <%= @stage.title %></td>
    </tr>
    <tr>
      <th>団体名</th>
      <td><%= @stage.actor.name %></td>
    </tr>
    <tr>
      <th>日時</th>
      <td><%= @stage.date %></td>
    </tr>
    <tr>
      <th>午前・午後</th>
      <td><%= @stage.time == 1 ? "午前" : "午後" %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @stage.text %></td>
    </tr>
    <tr>
      <th>残り座席数　S</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %>席</td>
    </tr>
    <tr>
      <th>残り座席数　A</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %>席</td>
    </tr>
    <tr>
      <th>残り座席数　B</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %>席</td>
    </tr>
    <tr>
      <th>予約席</th>
      <td>
        <% @seat_types.each do |seat| %>
          <%= seat %>
        <% end %>
      </td>
    </tr>
    </thead>
  </table>
<% end %>


<%= form_for [@stage, @reservation] do |form| %>
  <%= hidden_field_tag :stage_id, :value => @stage.id %>
  <% @seat_types.each do |seat| %>
    <%= hidden_field_tag 'seats[]', seat, multiple: true %>
  <% end %>
  <div class="confirm-btns">
    <div><%= form.submit "修正", name: :back, class: "arrow-button" %></div>
    <div><%= form.submit "この舞台を予約する", class: "arrow-button" %></div>
  </div>
<% end %>
