<% @page_title = "予約確認" %>
<h1><%= @page_title %></h1>
<% if @errors.present? %>
  <% if @errors.instance_of?(Array) %>
    <div id="errors">
      <h3>エラーがあります。</h3>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h3><%= @errors %></h3>
  <% end %>
<% end %>


<div class="stage_img">
  <% if (@category = @stage.category.name) == "恋愛もの" %>
    <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "オペラ" %>
    <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "お笑い" %>
    <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% elsif @category == "戯曲" %>
    <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
  <% end %>
  <div class="list-content">
    <%= @stage.title %>
    <p><%= @category %><br>
      <%= @stage.actor.name %></p>
  </div>
</div>
<% if @stage.present? %>
  <table class="new-table">
    <tr>
    <tr>
      <th>舞台タイトル</th>
      <td>
        <%= @stage.title %></td>
    </tr>
    <tr>
      <th>団体名</th>
      <td><%= @stage.actor.name %></td>
    </tr>
    <tr>
      <th>日時</th>
      <td><%=@stage.date %></td>
    </tr>
    <tr>
      <th>午前・午後</th>
      <td><%= @stage.time == 1 ? "午前" : "午後" %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @stage.text %></td>
    </tr>
    <tr>
      <th>残り座席数　S</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %></td>
    </tr>
    <tr>
      <th>残り座席数　A</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %></td>
    </tr>
    <tr>
      <th>残り座席数　B</th>
      <td><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %></td>
    </tr>
    </thead>
  </table>
<% end %>

<h2 class="seat_index">座席表</h2>
<div class="reserve-method">
  <h3>予約方法</h3>
  <ul>
    <li>一回に予約できるのは五席までです</li>
    <li>座席表で赤くなっている席はすでに予約済みであり予約できません</li>
    <li>予約したい席を選んでクリックしてください</li>
  </ul>
</div>


<div class="check">
  <h5>ステージ</h5>
  <h4>まえ</h4>
  <div class="seat">
    <div class="seat-out">
      <%= form_for [@stage, @reservation] do |form| %>
        <%= collection_check_boxes(:seat, :seat_type, @stage.seats, :seat_type, :seat_type, include_hidden: false, html_options: { class: "seat" }) do |b| %>
          <%= b.check_box %>
          <%= b.label %>
        <% end %>
        </div>
        </div>
        <h4>うしろ</h4>
        </div>
        <div><%= form.submit class:"edit-stage" %></div>
      <% end %>
