<% @page_title = "予約詳細" %>
<h1><%= @page_title %></h1>
<% if @reservation.present? %>
  <%= render "shared/table_show", stage: @stage %>


  <h2>チケット購入枚数</h2>
  <table class="list">
    <thead>
    <% @reservation.seats.each do |seat| %>
      <th>席種</th>
      <td><%= seat.seat_type %><br><%= @cost += seat.seat_prise %></td>
    <% end %>
    <tr>
      <th>合計金額</th>
      <td><%= @cost %></td>
    </tr>

    </thead>
    <tbody>

  </table>

  <% if @stage.date >= Date.current.days_since(2) %>
    <%= link_to "予約キャンセル", [current_user, @reservation], method: :delete, data: { confirm: "本当に削除しますか" } %>
  <% end %>
<% end %>
<%= menu_link_to "<<戻る", :back %>
