<% @page_title = "予約詳細" %>
<h1><%= @page_title %></h1>
<% if @reservation.present? %>
  <%= render "shared/table_show", stage: @stage %>


  <h3>チケット購入枚数</h3>
  <table class="show-table">
    <thead>
    <% @reservation.seats.each do |seat| %>
    <tr>
      <th><%= seat.seat_type %></th>
      <td>  小計:<%=seat.seat_prise %></td>
      <% @cost += seat.seat_prise %>
    </tr>
    <% end %>
    <tr>
      <th>合計金額</th>
      <td><%= @cost %>円</td>
    </tr>

    </thead>
    <tbody>

  </table>

    <h3>予約状況</h3>
    <h2 class="seat_index">座席表</h2>
    <div class="check">
      <h5>ステージ</h5>
      <h4>まえ</h4>
      <div class="seat-actor">
        <% @stage.seats.order(:id).each do |seat| %>
          <% if seat.reservation_id == @reservation.id %>
            <div class="false">
              <%= seat.seat_type %>
            </div>
          <% else %>
            <div class="true">
              <%= seat.seat_type %>
            </div>
          <% end %>
        <% end %>
      </div>

      <h4>うしろ</h4>
    </div>


  <%# if @stage.date >= Date.current.days_since(2) %>
    <%= link_to "予約キャンセル", [current_user, @reservation], method: :delete, data: { confirm: "本当に削除しますか" } ,class: "edit-stage"%>
  <% end %>
<%# end %>
<%= link_to "<<戻る", :back,class: "link_to" %>

