<%#= render "shared/errors", obj: @seats %>



<div class="new-form">
  <% if @stage.status == 1 || @stage.status == 3 %>
    <%= form.hidden_field :status, :value => 1 %>
    <table class="stage_new">
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, :value => @stage.title, size: 20 %></td>
      </tr>
      <tr>
        <th><%= form.label :category %></th>
        <td><%= form.select :category_id, { '選択してください': nil, '恋愛もの': 1, 'お笑い': 2, 'オペラ': 3, 'アクション': 4 }, selected: @stage.category_id %></td>
      </tr>
      <tr>
        <th><%= form.label :text %></th>
        <td><%= form.text_area :text, :value => @stage.text, rows: 10, cols: 45 %></td>
      </tr>
      <tr>
        <th><%= form.label :date, for: "member_birthday_1i" %></th>
        <td>
            <%=form.date_field :date,value: @stage.date %>
            </td>
          </tr>
      <tr>
        <th><%= form.label :午前・午後 %></th>
        <td><%= form.select :time, { '選択してください': nil, '午前': 1, '午後': 2 }, { selected: @stage.time } %></td>
      </tr>
      <% @count = 0 %>
      <% @seats.each do |seat| %>
        <%= form.fields_for 'seats[]', seat do |fs| %>
          <% @count += 1 %>
          <tr>
            <% if @count == 1 %>
              <th><%= fs.label :S金額 %></th>
            <% elsif @count == 2 %>
              <th><%= fs.label :A金額 %></th>
            <% elsif @count == 3 %>
              <th><%= fs.label :B金額 %></th>
            <% end %>
            <td><%= fs.text_field :seat_prise %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <table class="stage_new">
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, :value => @stage.title, size: 20 %></td>
      </tr>
      <tr>
        <th><%= form.label :カテゴリー %></th>
        <td><%= @stage.category.name %></td>
      </tr>
      <tr>
        <th><%= form.label :text %></th>
        <td><%= form.text_area :text, :value => @stage.text, rows: 10, cols: 45 %></td>
      </tr>
      <tr>
        <th><%= form.label :date, for: "member_birthday_1i" %></th>
        <td><%= @stage.date %></td>
      </tr>
      <tr>
        <th><%= form.label :午前・午後 %></th>
        <td><%= @stage.time == 1 ? "午前" : "午後" %></td>
      </tr>
      <% @count = 1 %>
      <% @seats.each do |seat| %>
        <tr>
          <% if @count == 1 %>
            <th>S金額</th>
          <% elsif @count == 2 %>
            <th>A金額</th>
          <% elsif @count == 3 %>
            <th>B金額</th>
          <% end %>
          <td><%= seat.seat_prise %></td>
        </tr>
        <% @count += 1 %>
      <% end %>
    </table>
    <%= form.hidden_field :category_id, :value => @stage.category_id %>
    <%= form.hidden_field :date, :value => @stage.date %>
    <%= form.hidden_field :time, :value => @stage.time %>
    <% @seats.each_with_index do |seat, i| %>
      <%= form.fields_for 'seats[]', seat do |fs| %>
        <%= fs.hidden_field :seat_prise, :value => seat.seat_prise %>
      <% end %>
    <% end %>

  <% end %>
</div>



