<%#= render "shared/errors", obj: @member %>

<table class="attr">
  <%=form.hidden_field :status %>
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :category %></th>
    <td><%= form.select :category_id, {'お笑い':1,'恋愛もの':2,'オペラ':3,'戯曲':4} %></td>
  </tr>
  <tr>
    <th><%= form.label :text %></th>
    <td><%= form.text_field :text %></td>
  </tr>
  <tr>
    <th><%= form.label :date, for: "member_birthday_1i" %></th>
    <td><%= form.date_select :date,
              start_year: 1940, end_year: Time.current.year,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :午前・午後 %></th>
    <td><%= form.select :time,{'午前':1, '午後': 2}  %></td>
  </tr>
  <tr>
    <th><%= form.label :S金額 %></th>
    <td><%= text_field_tag :S_cost%></td>
  </tr>
  <tr>
    <th><%= form.label :A金額 %></th>
    <td><%= text_field_tag :A_cost %></td>
  </tr>
  <tr>
    <th><%= form.label :B金額 %></th>
    <td><%= text_field_tag :B_cost %></td>
  </tr>
</table>
