<% @page_title = "舞台詳細" %>
<h1><%= @page_title %></h1>


<% if @stage.present? %>
  <%= render "shared/table_show", stage: @stage if @stage.present? %>

<% end %>
<%= form_for @stage do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :category_id %>
  <%= form.hidden_field :text %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :time %>
  <% @seats.each_with_index do |seat, i| %>
    <%= form.fields_for 'seats[]', seat do |fs| %>
      <%= fs.hidden_field :seat_prise, :value => seat.seat_prise %>
    <% end %>
  <% end %>
  <% if @stage.date >= Date.current %>
    <p>この舞台を承認する</p>
    <%= form.select :status, { '承認': 2, '拒否': 3 } %>
    <div><%= form.submit %></div>
  <% end %>
<% end %>
<%= link_to "戻る", :back %>