<%#= render "shared/errors", obj: @stage %>
<% @page_title = "舞台確認" %>
<h1><%= @page_title %></h1>


  <div class="stage_img">
    <% if (@category = @stage.category.name) == "恋愛もの" %>
      <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
    <% elsif @category == "オペラ" %>
      <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
    <% elsif @category == "お笑い" %>
      <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
    <% elsif @category == "戯曲" %>
      <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
    <% end %>
    <div class="list-content">
      <%= @stage.title %>
      <p><%= @category %><br>
        <%= @stage.actor.name %></p>
    </div>
  </div>
<table class="show-table">
  <thead>
  <tr>
    <th>舞台タイトル</th>
    <td><%= @stage.title %></td>
  </tr>
  <tr>
    <th>団体名</th>
    <td>
      <%= @stage.actor.name %>
    </td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td>
      <%= @stage.category.name %>
    </td>
  </tr>
  <tr>
    <th>日時</th>
    <td><%= @stage.date %></td>
  </tr>
  <tr>
    <th>午前・午後</th>
    <td><%= @stage.text %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= @stage.time == 1 ? "午前" : "午後" %></td>
  </tr>

  <% 3.times do |i| %>
    <% if i == 0 %>
      <tr>
        <th>S値段</th>
        <td><%= @cost[i] %></td>
      </tr>
    <% elsif i == 1 %>
      <tr>
        <th>A値段</th>
        <td><%= @cost[i] %></td>
      </tr>
    <% elsif i == 2 %>
      <tr>
        <th>B値段</th>
        <td><%= @cost[i] %></td>
      </tr>
    <% end %>
  <% end %>

  </thead>
</table>


<%= form_for @form, url: stages_path do |form| %>
  <%= form.hidden_field :title, :value => @stage.title %>
  <%= form.hidden_field :category_id, :value => @stage.category_id %>
  <%= form.hidden_field :text, :value => @stage.text %>
  <%= form.hidden_field :date, :value => @stage.date %>
  <%= form.hidden_field :time, :value => @stage.time %>
  <% @seats.each_with_index do |seat, i| %>
    <%= form.fields_for 'seats[]', seat do |fs| %>
      <%= fs.hidden_field :seat_prise, :value => @cost[i] %>
    <% end %>
  <% end %>
  <div class="confirm-btns">
  <div><%= form.submit "修正", name: :back, class:"arrow-button"%></div>
  <div><%= form.submit class:"arrow-button"%></div>
  </div>
<% end %>