<% @page_title = "舞台情報の編集" %>

<h1><%= @page_title %></h1>

<% if @errors.present? %>
  <div id="errors">
    <h3>エラーがあります。</h3>
    <% @errors.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </div>
<% end %>
<h2 class="login-h">現在の公演団体の予約状況</h2>
<table class="stage-list">
  <thead>
  <tr>
    <th>ステータス</th>
    <th>舞台タイトル</th>
    <th>団体名</th>
    <th>日時</th>
    <th width="299">午前・午後</th>
  </tr>
  </thead>
  <tbody>
  <% @stages.each do |stage| %>
    <% if stage.status == 1 %>
      <td>申請中</td>
    <% elsif stage.status == 2 %>
      <td>承認</td>
    <% else %>
      <td>拒否</td>
    <% end %>
    <td><%= stage.title %></td>
    <td><%= stage.actor.name %></td>
    <td><%= stage.date %></td>
    <td><%= stage.time == 1 ? "午前" : "午後" %></td>
    </tr>
    </tbody>
  <% end %>
  </tbody>
  </table>

<div class="register-method">
  <h3>新規登録規則</h3>
  <ul>
    <li>全部必須入力です</li>
    <li>タイトルは１文字以上２０文字以内、本文は１０文字以上４００文字以内入力してください</li>
    <li>今日から三日後以降から登録できます</li>
    <li>もうすでに承認された公演がある日時は登録できません</li>
    <li>席の値段は自然数で入力してください</li>
    <li>承認後はタイトルと本文のみ編集できます</li>
  </ul>
</div>

<%= form_for @stage do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit class:"edit-stage"%></div>
<% end %>


<!--<script>-->
<!--    var methods = {-->
<!--        prise: function (value, element) { // メールアドレスの正規表現-->
<!--            return this.optional(element) || /^[1-9][0-9]*$/i.test(value);-->
<!--        },-->
<!--        password: function (value, element) { // パスワードの正規表現-->
<!--            return this.optional(element) || /^(?=.*?[a-z])(?=.*?\d)[a-z\d]{8,100}$/i.test(value);-->
<!--        },-->
<!--        date: function (value, element) { // パスワードの正規表現-->
<!--            return this.optional(element) ||new Date() == value;-->
<!--        },-->
<!--    }-->
<!--    // メソッドの追加-->
<!--    $.each(methods, function (key) {-->
<!--        $.validator.addMethod(key, this);-->
<!--    });-->
<!--    $("#edit_stage_6").validate({-->
<!--        // ルール設定-->
<!--        rules: {-->
<!--            "stage[title]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                maxlength: 20,-->
<!--                minlength: 1,-->
<!--            },-->
<!--            "stage[text]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                maxlength: 400,-->
<!--                minlength: 10,-->
<!--            },-->
<!--            "stage_seats[date]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                date: true,-->
<!--            },-->
<!--            "stage[seats]": {-->
<!--                required: true, // ニックネームの入力有無チェック-->
<!--                prise:true-->
<!--            }-->
<!--        },-->
<!--        // エラーメッセージの定義-->
<!--        messages: {-->
<!--            "stage[title]": {-->
<!--                required: "タイトルを入力してください",-->
<!--                maxlength: "20文字以内で入力してください",-->
<!--                minlength: "1文字以上で入力してください"-->
<!--            },-->
<!--            "stage[text]": {-->
<!--                required: "本文を入力してください",-->
<!--                maxlength: "400文字以内で入力してください",-->
<!--                minlength: "10文字以上で入力してください"-->
<!--            },-->
<!--            "stage[date]": {-->
<!--                required: "本文を入力してください",-->
<!--                date: "4今日を含めて３日後以降を登録してください"-->
<!--            },-->
<!--            "stage[seats][][seat_prise]": {-->
<!--                required: "席の料金を入力してください",-->
<!--                prise: "席の値段は自然数で入力してください"-->
<!--            },-->
<!--        },-->
<!--        errorClass: "invalid", // バリデーションNGの場合に追加するクラス名の指定-->
<!--        errorElement: "p", // エラーメッセージの要素種類の指定-->
<!--        validClass: "valid", // バリデーションOKの場合に追加するクラス名の指定-->
<!--    }).cancelSubmit = true;-->

<!--    // 入力欄をフォーカスアウトしたときにバリデーションを実行-->
<!--    $("#stage_title,#stage_text,#stage_seats__seat_prise").keyup(function () {-->
<!--        $(this).valid()-->

<!--    });-->
<!--    $("#stage_title,#stage_text,#stage_seats_seats__seat_prise").blur(function () {-->
<!--        $(this).valid()-->

<!--    });-->

<!--</script>-->
