<% @page_title = "舞台一覧" %>
<h1><%= @page_title %></h1>
<%= form_tag :search_stages, method: :get, class: "search" do %>
  <p>タイトル名
    <%= text_field_tag "title", params[:title] %>
  </p>
  <p>公演者名
    <%= text_field_tag "actor", params[:actor] %>
  </p>
  <p>日付
    <%= date_field_tag :date, params[:date] %>
  </p>
  <p>
    午前
    <%= check_box_tag "morning" %>
    午後
    <%= check_box_tag "afternoon" %>
  </p>
  <p>
    <%= label_tag :カテゴリー %>
    <%= select_tag "category",options_for_select(%w[お笑い 恋愛もの オペラ 戯曲])%>
  </p>
  <%= submit_tag "検索" %>
<% end %>

<% if @stages.present? %>
  <%= render "shared/table_list", stages: @stages %>
<% end %>