<% @page_title = "舞台詳細" %>
<h1><%= @page_title %></h1>

<% @path = Rails.application.routes.recognize_path(request.referer) %>


<% if @path[:action] == "admin_false_stages" || @path[:actor_id] != nil || (@path[:action] == "show" && current_admin) %>

  <% if @stage.present? %>
    <%= render "shared/table_show", stage: @stage if @stage.present? %>
  <% end %>
  <table class="seat-table">
    <thead>
    <tr>
      <th>残り座席数　S</th>
      <th>残り座席数　A</th>
      <th>残り座席数　B</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: center">
        <%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %>席
      </td>
      <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %>
        席
      </td>
      <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %>
        席
      </td>
    </tr>
    </tbody>
    </tbody>
  </table>
  <div class="prise-list">
    <h3>各種座席料金一覧</h3>
    <ul>
      <h4>S席</h4>
      <li> <%= @stage.seats.find_by('seat_type like ?', '%S%').seat_prise %>円</li>
      <h4>A席</h4>
      <li><%= @stage.seats.find_by('seat_type like ?', '%A%').seat_prise %>円</li>
      <h4>B席</h4>
      <li><%= @stage.seats.find_by('seat_type like ?', '%B%').seat_prise %>円</li>
    </ul>
  </div>
  <h3>予約状況</h3>
  <h2 class="seat_index">座席表</h2>
  <div class="check">
    <h5>ステージ</h5>
    <h4>まえ</h4>
    <div class="seat-actor">
      <% @stage.seats.each do |seat| %>
        <% if seat.reservation_id.nil? %>
          <div class="true">
            <%= seat.seat_type %>
          </div>
        <% else %>
          <div class="false">
            <%= seat.seat_type %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h4>うしろ</h4>
  </div>

  <%= form_for @stage do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :category_id %>
    <%= form.hidden_field :text %>
    <%= form.hidden_field :date %>
    <%= form.hidden_field :time %>
    <% @seats.each_with_index do |seat, i| %>
      <%= form.fields_for 'seats[]', seat do |fs| %>
        <%= fs.hidden_field :seat_prise, :value => seat.seat_prise %>
      <% end %>
    <% end %>
    <% if @stage.date >= Date.current && @stage.status == 1 %>
      <% unless @stage.status == 2 %>
        <p>この舞台を承認する</p>
        <%= form.select :status, { '承認': 2, '拒否': 3 } %>
        <div><%= form.submit class: "edit-stage" %></div>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "<<マイページに戻る", current_admin, class: "link_to" %>
<% elsif @path[:action] == "actor_false_stages" || @path[:action] == "actor_true_stages" || (@path[:action] == "edit" && current_actor) %>
  <%= render "shared/table_show", stage: @stage if @stage.present? %>
  <table class="seat-table">
    <thead>
    <tr>
      <th>残り座席数　S</th>
      <th>残り座席数　A</th>
      <th>残り座席数　B</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: center">
        <%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %>席
      </td>
      <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %>
        席
      </td>
      <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %>
        席
      </td>
    </tr>
    </tbody>
    </tbody>
  </table>
  <div class="prise-list">
    <h3>各種座席料金一覧</h3>
    <ul>
      <h4>S席</h4>
      <li> <%= @stage.seats.find_by('seat_type like ?', '%S%').seat_prise %>円</li>
      <h4>A席</h4>
      <li><%= @stage.seats.find_by('seat_type like ?', '%A%').seat_prise %>円</li>
      <h4>B席</h4>
      <li><%= @stage.seats.find_by('seat_type like ?', '%B%').seat_prise %>円</li>
    </ul>
  </div>
  <h3>予約状況</h3>
  <h2 class="seat_index">座席表</h2>
  <div class="check">
    <h5>ステージ</h5>
    <h4>まえ</h4>
    <div class="seat-actor">
      <% @stage.seats.order(:id).each do |seat| %>
        <% if seat.reservation_id.nil? %>
          <div class="true">
            <%= seat.seat_type %>
          </div>
        <% else %>
          <div class="false">
            <%= seat.seat_type %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h4>うしろ</h4>
  </div>

  <% if @stage.date >= Date.current %>
    <%= button_to "舞台の編集をおこなう", [:edit, @stage], { method: "get", class: "edit-stage" } %>
  <% end %>

<% else %>
  <% if @errors.instance_of?(Array) %>
    <div id="errors">
      <h3>エラーがあります。</h3>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h3><%= @errors %></h3>
  <% end %>


  <% if @stage.present? %>

    <div class="stage_img">
      <% if (@category = @stage.category.name) == "恋愛もの" %>
        <%= image_tag "love.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "オペラ" %>
        <%= image_tag "opera.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "お笑い" %>
        <%= image_tag "owarai.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% elsif @category == "戯曲" %>
        <%= image_tag "gikyoku.jpg", size: "160x110", alt: "cate", class: "category-img" %>
      <% end %>
      <div class="list-content">
        <h3><%= @stage.title %></h3>
        <p><%= @category %><br>
          <%= @stage.actor.name %><br>
          <%= @stage.date %>  <%= @stage.time == 1 ? "午前" : "午後" %></p>
      </div>
    </div>
    <div class="text">
      <h3>舞台の紹介</h3>
      <p><%= @stage.text %></p>
    </div>

    <table class="seat-table">
      <thead>
      <tr>
        <th>残り座席数　S</th>
        <th>残り座席数　A</th>
        <th>残り座席数　B</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="text-align: center">
          <%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%S%').count %>席
        </td>
        <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%A%').count %>
          席
        </td>
        <td style="text-align: center"><%= @stage.seats.where(reservation_id: nil).where('seat_type like ?', '%B%').count %>
          席
        </td>
      </tr>
      </tbody>
      </tbody>
    </table>
    <div class="prise-list">
      <h3>各種座席料金一覧</h3>
      <ul>
        <h4>S席</h4>
        <li> <%= @stage.seats.find_by('seat_type like ?', '%S%').seat_prise %>円</li>
        <h4>A席</h4>
        <li><%= @stage.seats.find_by('seat_type like ?', '%A%').seat_prise %>円</li>
        <h4>B席</h4>
        <li><%= @stage.seats.find_by('seat_type like ?', '%B%').seat_prise %>円</li>
      </ul>
    </div>
  <% end %>

  <h2 class="seat_index">座席表</h2>
  <div class="reserve-method">
    <h3>予約方法</h3>
    <ul>
      <li>一回に予約できるのは五席までです</li>
      <li>座席表で赤くなっている席はすでに予約済みであり予約できません</li>
      <li>データベースと画面表示にはラグがあるため赤くなっていないからと言って確実に予約できるわけではありません</li>
      <li>予約したい席を選んでクリックしてください</li>
    </ul>
  </div>


  <div class="check">
    <h5>ステージ</h5>
    <h4>まえ</h4>
    <div class="seat">
      <div class="seat-out">
        <%= form_for [@stage, @reservation], url: new_reservation_path, method: :get do |form| %>
          <%= form.hidden_field :stage_id, :value => @stage.id %>
          <%= collection_check_boxes(:seat, :seat_type, @stage.seats.order(:id), :seat_type, :seat_type, include_hidden: false, html_options: { class: "seat" }) do |b| %>
            <%= b.check_box disabled: @stage.seats.find_by(seat_type: b.text, stage_id: @stage.id).reservation_id != nil %>
            <%= b.label %>
          <% end %>
          </div>
          </div>
          <h4>うしろ</h4>
          </div>

          <% unless current_actor || current_admin %>
          <div><%= form.submit "この舞台を予約する", class: "edit-stage" %></div>
            <%end %>
        <% end %>



<% end %>
