<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<header>
  <%= render "shared/header" %>
</header>
<div id="container">

  <!--<div id="center-content">-->
  <main>
    <% if flash.alert %><p class="alert"><%= flash.alert %></p>
    <% end %>
    <% if flash.notice %>
      <% if notice.instance_of?(Array) %>
        <div id="errors">
          <h3>エラーがあります。</h3>
          <ul>
            <% notice.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
      <h2 class="notice"><%= flash.notice %></h2>
        <%end %>
    <% end %>

    <%= yield %>
  </main>
  <aside id="sidebar">
    <%= render "shared/sidebar" %>
  </aside>
  <!--</div>-->

</div>
<footer>
  <%= render "shared/footer" %>
</footer>
</body>
</html>
